@font-face {
        font-family: "poppins";
        src: url(./poppins/Poppins-SemiBold.ttf);
}

* {
        text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0;
        color: #fff;
        box-sizing: border-box;
}

body {
        background-image: url(./images/background.jpg);
        background-size: cover;
        width: 100vw;
        min-height: 100vh;
        font-family: "poppins";
        font-size: 1rem;
        text-align: center;
}
section {
        background-image: url(./images/wedding2.jpg);
        background-size: cover;
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;
}

h1 {
        font-size: 2rem;
        text-align: center;
        color: white;
}

.formulaire {
        position: absolute;
        backdrop-filter: blur(3px);
        background-color: #ffffff3d;
        width: 70%;
        height: 100%;
        padding: 50px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
img {
        height: 30px;
        width: 30px;
}
input {
        outline: none;
        background-color: #fff;
        border: 2px solid white;
        color: black;
        padding: 10px 20px;
        margin: 0 30px;
        min-width: 50%;
        font-size: 1rem;
}
.eye {
        background-color: transparent;
        border: none;
        filter: invert(100%);
}
.options {
        font-size: 1rem;
        color: rgb(208, 165, 57);
        background-color: rgb(255, 255, 255);
        border: 2px solidrgb(208, 165, 57);
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.3s;
}
.options:hover {
        background-color: rgb(208, 165, 57);
        color: white;
        transform: scale(1.1);
}
::placeholder {
        font-size: 1rem;
        text-align: center;
}
@media screen and (max-width: 900px) {
        form {
                display: flex;
        }
        h1 {
                font-size: 1.5rem;
        }
        h2 {
                font-size: 1rem;
        }
        .formulaire {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        ::placeholder {
                font-size: 1rem;
        }
}
